@import "./components/colors";
@import "./components/fonts";
@import "./components/header";
@import "./components/projects";
@import "./components/internal";
@import "./components/login/login";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    align-items: center;
}
